{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="post-list">
  <header class="page-header d-flex">
    <h3 class="page-heading">Posts Feed</h3>
    {% if user.is_authenticated %}
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modelId">
      New Post!
    </button>
    {% endif %}
  </header>
  <hr>
  {% if not posts.exists %}
  <p class="lead text-muted">No posts added yet..</p>
  {% else %}
  {% for post in posts %}
  <div class="card card-posts my-2">
    <div class="card-body d-flex">
      <div class="card-left">
        <p class="lead m-0">{{post.title}}</p>
        <small class="text-muted">Author: {{post.owner}}</small>
      </div>
      <div class="card-right">
        <a href="{{post.get_like_url}}" class="btn btn-sm">Like {{post.like_set.all|length}}</a>
        <a href="{{post.get_unlike_url}}" class="btn btn-sm">Unlike {{post.unlike_set.all|length}}</a>
        <a href="{{post.get_absolute_url}}" class="btn btn-outline-primary ml-3">Explore
          {{post.comment_set.all|length}}</a>
      </div>
    </div>
  </div>
  {% endfor %}
  {% endif %}


  <!-- Modal -->
  <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create Post</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="" method="POST"> {% csrf_token %}
          <div class="modal-body">
            {{ form|crispy }}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}