{% extends "base.html" %}

{% block content %}
<div class="social-list">
  <header class="page-header d-flex">
    <h3 class="page-heading">Social Page</h3>
    {% if user.is_authenticated and social.profile == user.profile %}
    <div class="btn-group">
      <a href="{{social.get_update_url}}" class="btn btn-outline-success">EDIT SOCIAL</a>
      <a href="{{social.get_delete_url}}" class="btn btn-danger">DELETE SOCIAL</a>
      <a href="{% url 'profiles:profiles-list' %}" class="btn btn-lg btn-primary">Back</a>
    </div>
    {% endif %}
  </header>
  <hr>
  <ul class="list-group">
    <li class="list-group-item">
      <strong>Youtube</strong>
      <a href={{social.youtube}} style="text-decoration:none" class="float-right">{{social.youtube}}</a>
    </li>
    <li class="list-group-item">
      <strong>Facebook</strong>
      <a href={{social.facebook}} style="text-decoration:none" class="float-right">{{social.facebook}}</a>
    </li>
    <li class="list-group-item">
      <strong>Twitter</strong>
      <a href={{social.twitter}} style="text-decoration:none" class="float-right">{{social.twitter}}</a>
    </li>
    <li class="list-group-item">
      <strong>LinkedIn</strong>
      <a href={{social.linkedin}} style="text-decoration:none" class="float-right">{{social.linkedin}}</a>
    </li>
    <li class="list-group-item">
      <strong>Instagram</strong>
      <a href={{social.instagram}} style="text-decoration:none" class="float-right">{{social.instagram}}</a>
    </li>
    <li class="list-group-item">
      <strong>Github</strong>
      <a href={{social.github}} style="text-decoration:none" class="float-right">{{social.github}}</a>
    </li>
  </ul>
</div>
{% endblock content %}