{% extends 'base.html' %}

{% block content %}
<div class="post-list">
  <h3 class="page-heading">About</h3>
  <hr>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, necessitatibus voluptas doloremque expedita sunt
    incidunt magni, in pariatur aperiam unde, ad minima cumque voluptates veritatis dolores non vel tempore deleniti
    sint excepturi cupiditate? Incidunt quae magnam, quisquam accusantium odit quis!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque quae, laudantium facilis assumenda minima asperiores
    culpa nemo aspernatur aut perferendis?</p>
</div>
{% endblock content %}